
h1 {
    /* background-color: rgba(197, 96, 96, 0.363); */
    text-shadow: 2px 2px 5px rgb(145, 6, 6);
    margin-left: 2em;
}

body {
    color:rgb(30, 0, 75);
    font-family: 'Share Tech Mono', 'courier new', Courier, monospace;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    background-image: url("images/background_tile_moss.png");
    background-size: 400px;

}

.box {
    /* background-color: rgba(78, 78, 78, 0.816); */
    --offset-x: 1.5em;
    --offset-y: 2em;

    background-image: url("images/background_tile.png");
    background-size: 400px;
    /* background-position-x: calc(-1.55em + var(--offset-x));
    background-position-y: calc(-5.9em + var(--offset-y)); */
    background-position-x: -3.5em;
    background-position-y: -5.9em;
    max-width: 17.5em;

    margin-left: 2em;
    
    border-color: rgb(25, 30, 26);

    border-style: double;
    border-left-style: solid;
    border-width: 1em;

    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding-left: 1.5em;
    padding-bottom: 2em;

}