h1 {
    display: inline;
    text-shadow: 2px 2px 11px rgb(232 0 255);
    font-size: 3.5em;
    margin-left: 0.7em;
}

.wrapper {
    min-width: 20em;
    background-color: rgb(139 21 163 / 40%);
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

button {
    background-color: rgba(166, 105, 207, 0.863);
    border: none;
    padding: 1.4em 1.4em;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-variant: inherit;

    border-left-style: solid;
    border-width: 0.0em;
    border-color: #6b1e7a94;

    transition-duration: 0.1s;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    left: -3em;
    position: relative;
    border-width: 1em;
}

.topnav {
    display: flex;
    float: right;
}

.about {
    display: none;
}

body {
    color: rgb(30, 0, 75);
    font-family: 'Share Tech Mono', 'courier new', Courier, monospace;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
    background-image: url("images/background_tile_moss.png");
    background-size: 400px;
}

a:link {
    font-size: 1.3em;
    color: #ffcfec;
}

a:visited {
    font-size: 1.3em;
    color: #ffcfec;
}

.box {
    background-image: url("images/background_tile_clean2.png");
    background-size: 400px;
    background-position-x: -3.5em;
    background-position-y: -6.3em;
    max-width: 20em;

    margin-left: 2em;

    border-color: rgb(25, 30, 26);

    border-style: double;
    border-left-style: solid;
    border-width: 1em;

    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    padding-left: 1.5em;
    padding-bottom: 2em;
    /* transition-duration: 1s; */

}


.stats {
    display: block;
    contain: content;
    margin-top: 1em;
    margin-bottom: 1em;
}

.skill {
    border: 2em;
    display: block;
    width: 26%;
    float: left;
    height: 7em;
    padding-bottom: 3em;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.skill_name {
    display: block;
    /* text-align: center; */
    text-align: left;
    font-size: 22px;
}

.left_level,
.left_experience {
    text-align: left;
}

.right_level,
.right_experience {
    float: right;
}

.sprites {
    background-image: url("images/skills_spritesheet.png");
    background-repeat: no-repeat;
    display: block;
    border: 0.4em solid;
    transform: scale(0.30);
    margin-top: -6em;
    margin-bottom: -6em;
    margin-left: -6em;
    margin-right: 9em;
}

.sprites:hover {
    border: 5px solid rgb(239, 239, 239);
}

.sprites-agility {
    width: 300px;
    height: 300px;
    background-position: -5px -5px;
}

.sprites-attack {
    width: 300px;
    height: 300px;
    background-position: -315px -5px;
}

.sprites-defence {
    width: 300px;
    height: 300px;
    background-position: -625px -5px;
}

.sprites-fishing {
    width: 300px;
    height: 300px;
    background-position: -935px -5px;
}

.sprites-hitpoints {
    width: 300px;
    height: 300px;
    background-position: -1245px -5px;
}

.sprites-prayer {
    width: 300px;
    height: 300px;
    background-position: -1555px -5px;
}

.sprites-strength {
    width: 300px;
    height: 300px;
    background-position: -1865px -5px;
}

.sprites-thieving {
    width: 300px;
    height: 300px;
    background-position: -2175px -5px;
}