<title>Main Menu</title>

{% if session.username %}
<h1> Main menu </h1>
<p> You're logged in as {{ session.username }} </p>


<form action="/set_activity" method="POST">
    <select name="activity" type="text">
        <option value="not selected" selected hidden>Select activity</option>
        <option value="combat">Combat</option>
        <option value="fishing">Fishing</option>
        <option value="parkour">Parkour</option>
        <option value="pray">Pray</option>
    </select>
    <input type="submit" value="Set activity!">
</form>


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            {% if message.0 == "error" %}
                <p style="color:red"><strong> {{ message.1 }} </strong></p>
            {% else %}
                <p> Activity <strong> {{ message.1 }}</strong> succesfully activated!</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

{% if error %}
    <p style="color:red"><strong>Error: {{error}}</strong></p>
{% endif %}


Skill&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Experience       
<hr>
{% for skill in skills %}
{{ skill.skill_name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ skill.level }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ skill.experience }}
<hr>
{% endfor %}

<a href="/logout">Log out</a>
{% else %}
<p> You're not logged in </p>
{%  endif %}
