{% extends 'base.html'%}
{% block title %}
Main menu
{% endblock %}

{% block content %}
{% if session.username %}
<h2> Main menu </h2>
<p> You're logged in as {{ session.username }} </p>


<form action="/set_activity" method="POST">
    <select name="activity" type="text">
        <option value="not selected" selected hidden>Select activity</option>
        <option value="combat (accurate)">Combat-> Attack</option>
        <option value="combat (aggressive)">Combat-> Strength</option>
        <option value="combat (defensive)">Combat-> Defence</option>
        <option value="fishing">Fishing</option>
        <option value="parkour">Parkour</option>
        <option value="pray">Pray</option>
        <option value="thieve">Thieve</option>
    </select>
    <input type="submit" value="Set activity!">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{% if message.0 == "error" %}
<p style="color:red"><strong> {{ message.1 }} </strong></p>
{% else %}
<p> Activity <strong> {{ message.1 }}</strong> succesfully activated!</p>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% if error %}
<p style="color:red"><strong>Error: {{error}}</strong></p>
{% endif %}

<span class="skillInfo">
</span>


<div class="stats">
    {% for skill in skills %}
    <span class="skill skill-{{ skill.skill_name }}">

        <span class="skill_name">
            {{ skill.skill_name }}
        </span>

        <!-- <span class="sprites sprites-attack" onmouseenter="showThis(document.getElementsByClassName('skill_name'), arguments[0])"></span> -->
        <span class="sprites sprites-{{ skill.skill_name }}" onmouseover="showSkillInfoPopup()"
            onmouseleave="hideSkillInfoPopup()" onclick="showSkillInfo('{{ skill.skill_name }}')"></span>
        <span class="xp_bar_background">
            <span class="xp_bar xp_bar_{{ skill.skill_name }}" experience="{{ skill.experience }}"
                experienceleft="{{ skill.experience_left }}" currentlevelxp="{{ skill.current_level_xp }}"></span>
        </span>
        <span class="left_level">Level:</span>
        <span class="{{ skill.skill_name }}_level right_level">{{ skill.level }}</span>
        <span class="left_experience">experience left:</span><span
            class="{{ skill.skill_name }}_experience right_experience">{{ skill.experience_left }}</span>
    </span>

    {% endfor %}
</div>


<a href="/logout">
    <--Log out</a>
        {% else %}
        <p> You're not logged in </p>
        {%  endif %}

        <script>
            const skillInfo = document.querySelector('.skillInfo');
            const box = document.querySelector('.box');
            const skills = ["agility", "attack", "defence", "fishing", "hitpoints", "prayer", "strength", "thieving"];
            let isSkillInfo = false;
            let timer = Date.now();

            let length = skills.length;
            console.log("TERVE");
            for (let i = 0; i < length; i++) {
                console.log("hei");
                asd = document.querySelector('.xp_bar_' + skills[i]);
                xp = asd.getAttribute('experience');
                xpLeft = asd.getAttribute('experienceleft');
                currentLevelXp = asd.getAttribute('currentlevelxp');
                ratio = ((Number(xp) - Number(currentLevelXp)) / (Number(xp) + Number(xpLeft) - Number(currentLevelXp)));
                console.log(ratio, xp, currentLevelXp, xpLeft);

                asd.style.width = (ratio * 100 + 1) + '%';
            };

            function showSkillInfoPopup() {
                if (!isSkillInfo) {
                    box.style.borderTopRightRadius = '0em';
                    skillInfo.innerHTML = "<h2>Click to show more info<h2>" +
                        "<p id='popup'>(note: spam clicking doesn't give exp)</p>";
                    skillInfo.style.visibility = 'visible';
                }
            }

            function hideSkillInfoPopup() {
                if (!isSkillInfo) {
                    box.style.borderTopRightRadius = '3em';
                    skillInfo.style.visibility = 'hidden';
                }
            }

            function showSkillInfo(skillName) {
                let latestClick = Date.now();
                if ((latestClick - timer) < 250) {
                    console.log("Calm down!");
                    timer = Date.now();
                } else {
                    console.log(timer);
                    timer = Date.now();
                    fetch('/skill_info', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name: skillName })
                    })
                        .then(response => response.json())
                        .then(data => {
                            const rightLevel = document.querySelector('.' + skillName + '_level');
                            console.log(rightLevel.innerHTML);

                            const rightExperience = document.querySelector('.' + skillName + '_experience');
                            console.log(rightExperience.innerHTML);

                            let currentLevel = data.currentLevel;
                            let totalExperience = data.totalExperience;
                            let experienceRate = data.experienceRate;
                            let experienceLeft = data.experienceLeft;
                            rightLevel.innerHTML = currentLevel;
                            rightExperience.innerHTML = experienceLeft;

                            skillInfo.innerHTML = "<h2>" + skillName + "</h2>" +
                                "<p>Current level: " + currentLevel + "</p>" +
                                "<p>Experience left for next level: " + experienceLeft + "</p>" +
                                "<p>Total experience: " + totalExperience + "</p>" +
                                "<p>Current experience rate: " + experienceRate + " xp" +
                                "<p>for every 100 seconds.</p>";
                            skillInfo.style.visibility = 'visible';
                            isSkillInfo = true;
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }

            }
        </script>

        {% endblock %}