{% extends 'base.html'%}
{% block title %}
Main menu
{% endblock %}

{% block content %}
{% if session.username %}
<h2> Main menu </h2>
<p> You're logged in as {{ session.username }} </p>


<form action="/set_activity" method="POST">
    <select name="activity" type="text">
        <option value="not selected" selected hidden>Select activity</option>
        <option value="combat (accurate)">Combat-> Attack</option>
        <option value="combat (aggressive)">Combat-> Strength</option>
        <option value="combat (defensive)">Combat-> Defence</option>
        <option value="fishing">Fishing</option>
        <option value="parkour">Parkour</option>
        <option value="pray">Pray</option>
        <option value="thieve">Thieve</option>
    </select>
    <input type="submit" value="Set activity!">
</form>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for message in messages %}
{% if message.0 == "error" %}
<p style="color:red"><strong> {{ message.1 }} </strong></p>
{% else %}
<p> Activity <strong> {{ message.1 }}</strong> succesfully activated!</p>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

{% if error %}
<p style="color:red"><strong>Error: {{error}}</strong></p>
{% endif %}

<span class="skillInfo">
</span>

<div class="stats">
    {% for skill in skills %}
    <span class="skill">

        <span class="skill_name">
            {{ skill.skill_name }}
        </span>

        {% if skill.skill_name == "attack" %}
        <!-- <span class="sprites sprites-attack" onmouseenter="showThis(document.getElementsByClassName('skill_name'), arguments[0])"></span> -->
        <span class="sprites sprites-attack" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('attack')"></span>
        {% endif %}

        {% if skill.skill_name == "agility" %}
        <span class="sprites sprites-agility" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('agility')"></span>
        {% endif %}

        {% if skill.skill_name == "defence" %}
        <span class="sprites sprites-defence" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('defence')"></span>
        {% endif %}

        {% if skill.skill_name == "strength" %}
        <span class="sprites sprites-strength" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('strength')"></span>
        {% endif %}

        {% if skill.skill_name == "hitpoints" %}
        <span class="sprites sprites-hitpoints" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('hitpoints')"></span>
        {% endif %}

        {% if skill.skill_name == "prayer" %}
        <span class="sprites sprites-prayer" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('prayer')"></span>
        {% endif %}

        {% if skill.skill_name == "thieving" %}
        <span class="sprites sprites-thieving" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('thieving')"></span>
        {% endif %}

        {% if skill.skill_name == "fishing" %}
        <span class="sprites sprites-fishing" onmouseover="showSkillInfoPopup()" onmouseleave="hideSkillInfoPopup()"
            onclick="showSkillInfo('fishing')"></span>
        {% endif %}


        <span class="left_level">Level:</span><span class="right_level">{{ skill.level }}</span>
        <span class="left_experience">Exp:</span><span class="right_experience">{{ skill.experience }}</span>
        <!-- </div> -->
    </span>

    {% endfor %}
</div>
<a href="/logout">
    <--Log out</a>
        {% else %}
        <p> You're not logged in </p>
        {%  endif %}

        <script>
            const skillInfo = document.querySelector('.skillInfo');
            let isSkillInfo = false;

            function showSkillInfoPopup() {
                if (!isSkillInfo) {
                    skillInfo.innerHTML = "<p>Click to show more info</p>";
                    skillInfo.style.visibility = 'visible';
                }
            }

            function hideSkillInfoPopup() {
                if (!isSkillInfo) {
                    skillInfo.style.visibility = 'hidden';
                }
            }

            function showSkillInfo(skillName) {
                fetch('/skill_info', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name: skillName })
                })
                    .then(response => response.json())
                    .then(data => {
                        let currentLevel = data.currentLevel;
                        let totalExperience = data.totalExperience;
                        let experienceRate = data.experienceRate;
                        skillInfo.innerHTML = "<h2>" + skillName + "</h2>" +
                            "<p>Current level: " + currentLevel + "</p>" +
                            "<p>Total experience: " + totalExperience + "</p>" +
                            "<p>Current experience rate: " + experienceRate + " xp" +
                            "<p>for every 100 seconds.</p>";
                        skillInfo.style.visibility = 'visible';
                        isSkillInfo = true;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>

        {% endblock %}